<div id="grupo" class="col s12">
    <div class="row">
    <div class="col m4 s12">
        <h5>| Grupo Familiar </h5>
    </div>
    <div class="col m7 s12">
        <div class="row">
            <ul class="collapsible">
                <li>
                    <div class="collapsible-header"><i class="material-icons">person</i>Agustina Ampudia (esposa)</div>
                    <div class="collapsible-body">
                        <div class="cardtemp">
                            <div class="row pr">
                                <div class="col s7">
                                    <div class="row"></div>
                                    <div class="user"><h5>Juan Pablo Salleras</h5></div>
                                    <div class="lg"><span>Nº </span>1144-3355-00</div>
                                    <div class="expdate"><span>Vencimiento:</span>10/26</div>
                                </div>
                                <div class="col s5 logobar">
                                    <div class="col s12"><img src="../wwwroot/images/barcode_tarjeta.png" alt="" srcset="" class="responsive-img"></div>
                                    <div class="col s12"><img src="../wwwroot/images/side_si_tarjeta.png" alt="" srcset="" class="responsive-img"></div>
                               </div>
                            </div>
                            <div class="col s12 barra sanifoot">
                                    <img src="../wwwroot/images/btm_tarjeta.png" alt="" class="responsive-img">
                                    
                            </div>
                        </div><br>
                        <!-- BOTONERA SOLICITUDES -->
                        <div class="row">
                            <a class="col s4 centrar btn sani modal-trigger" href="#reno1" ><h6 class="tbtn hidemobile">Renovar</h6><i class="material-icons mg10">autorenew</i></a>
                            <a class="col s4 centrar btn sani2 modal-trigger" href="#repo1" ><h6 class="tbtn hidemobile">Reposición</h6><i class="material-icons mg10">restore</i></a>
                            <a class="col s4 centrar btn sani2 modal-trigger" href="#baja1" ><h6 class="tbtn hidemobile">Dar de Baja</h6><i class="material-icons mg10">cancel</i></a>
                        </div>
                    </div>
                </li>
                
                
                </ul>
           
        </div>
    </div>
</div>
</div>






<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.2/js/materialize.js"></script>
    <script src="../wwwroot/lib/materialize/js/materialize.min.js"></script>
    <script src="../wwwroot/lib/jquery/dist/jquery.js"></script>
   
    <script src="../wwwroot/js/actions.js"></script>