<div id="mydata" class="col s12">
    <div class="row">
    <div class="col m4 s12">
        <h5>| Mis Datos </h5>
    </div>
    <div class="col m7 s12">
        <div class="row">
            <div class="row">
                <div class="input-field col s12">
                    <input disabled value="Juan Pablo Salleras" id="disabled" type="text" class="validate">
                    <label for="disabled">Nombre y Apellido</label>
                </div>
                <div class="input-field col s12">
                    <input disabled value="30445995" id="disabled" type="text" class="validate">
                    <label for="disabled">Documento</label>
                </div>
                <div class="input-field col s12 m6">
                    <input disabled value="Mansilla 1475" id="disabled" type="text" class="validate">
                    <label for="disabled">Domicilio</label>
                </div>
                <div class="input-field col s12 m6">
                    <input disabled value="San Isidro" id="disabled" type="text" class="validate">
                    <label for="disabled">Localidad</label>
                </div>
            </div>
            
            </div>
        <div class="row"></div>
        
    </div>
    <!-- AGREGAR VINCULO ----------->
    <div id="editdata" class="modal modal-fixed-footer">
        <div class="modal-content">
    
            <h4>Modificar datos</h4>
            <p>Ingresar datos de búsqueda</p>
    
            <div class="row">
                <div class="input-field col s12">
                    <input disabled value="Juan Pablo Salleras" id="disabled" type="text" class="validate">
                    <label for="disabled">Nombre y Apellido</label>
                </div>
                <div class="input-field col s12">
                    <input disabled value="30445995" id="disabled" type="text" class="validate">
                    <label for="disabled">Documento</label>
                </div>
                <div class="input-field col s12 m6">
                    <input enabled value="Mansilla 1475" id="enabled" type="text" class="validate">
                    <label for="enabled">Domicilio</label>
                </div>
                <div class="input-field col s12 m6">
                    <input enabled value="San Isidro" id="disabled" type="text" class="validate">
                    <label for="disabled">Localidad</label>
                </div>
            </div>
</div>
    </div>


<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.2/js/materialize.js"></script>
    <script src="../wwwroot/lib/materialize/js/materialize.min.js"></script>
    <script src="../wwwroot/lib/jquery/dist/jquery.js"></script>
   
    <script src="../wwwroot/js/actions.js"></script>




    <div id="mydata" class="col s12">
        <div class="row">
            <div class="col m4 s12">
                <h5>| Mis Datos </h5>
                <br>
                <a class="col s12 centrar btn sani2 modal-trigger tooltipped" href="#editdata" data-position="bottom"
                    data-tooltip="Podés editar algunos datos">
                    <h6 class="tbtn hidemobile">Modificar datos</h6><i class="material-icons mg10">edit</i>
                </a>
            </div>
            <div class="col m7 s12">
                <div class="row"><br>
                    <div class="row">
                        <div class="row">
                            <div class="input-field col s12">
                                <input disabled value="Juan Pablo Salleras" id="disabled" type="text" class="validate">
                                <label for="disabled">Nombre y Apellido</label>
                            </div>
                            <div class="input-field col s12">
                                <input disabled value="30445995" id="disabled" type="number" class="validate">
                                <label for="disabled">Documento</label>
                            </div>
                            <div class="input-field col s12 m6">
                                <input disabled value="Mansilla 1475" id="disabled" type="text" class="validate">
                                <label for="disabled">Domicilio</label>
                            </div>
                            <div class="input-field col s12 m6">
                                <input disabled value="San Isidro" id="disabled" type="text" class="validate">
                                <label for="disabled">Localidad</label>
                            </div>
                            <div class="input-field col s12">
                                <input disabled value="Sin Observaciones" id="disabled" type="text" class="validate">
                                <label for="disabled">Observaciones del domicilio</label>
                            </div>
                            <div class="input-field col s12 m6">
                                <input disabled value="15-3336-8474" id="disabled" type="tel" class="validate">
                                <label for="disabled">Nº de contacto</label>
                            </div>
                            <div class="input-field col s12 m6">
                                <input disabled value="jpsalleras@gmail.com" id="disabled" type="text" class="validate">
                                <label for="disabled">Email</label>
                            </div>
                        </div>
    
                    </div>
    
                </div>
            </div>
        </div>
    </div>